<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>docuForce</title>
  <link rel="shortcut icon" th:href="@{/assets/certificate-3digits/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/assets/certificate-3digits/css/main.css}">
</head>
<body>
<div class="layout">
  <img th:src="@{/assets/certificate-3digits/img/logo.svg}" class="logo" alt="docuForce">
  
  <form method="post" th:action="" th:object="">
    <div class="steps_wrapper">
      <div class="step_wrapper step_active">
        <div class="step_description" th:utext="#{label.form.step.first}">Issuance of a certificate</div>
      </div>
      <div class="step_wrapper">
        <div class="step_description" th:utext="#{label.form.step.second}">Setting a password</div>
      </div>
    </div>
    
    <p class="form_description" th:utext="#{label.form.header.issuance.certificate}">
      To confirm the issuance of an unqualified electronic signature certificate, enter the last 3 digits of the TIN or SNILS or passport number
    </p>
    
    <div class="alert_wrapper">
      <p class="alert alert_error" th:utext="#{label.form.alert.invalid.code}">Activation code entered incorrectly</p>
    </div>
  
    <div class="certificate_wrapper">      
      <div class="certificate_inner">
        <div class="header">
          <p class="title" th:utext="#{label.form.header.certificate.title}">Certificate</p>
          <p class="subtitle" th:utext="#{}">For electronic signature</p>
        </div>
        
        <div class="certificate_info">
          <div class="user_main_info">
            <div class="user_name">
              <p>
                <span>Константин</span>
                <span class="patronymic">Иванович</span> <!-- Если отчества нет - не выводить (th:if) -->
              </p>
              <p>Константинопольский</p>
            </div>
            
            <p class="org_name">ООО «Документационная логистика»</p>
          </div>
          
          <!-- Если каких-то данных пользователя нет - не выводить соответствующий блок <div class="info_item">...</div> (th:if)-->
          <div class="user_additional_info">
            <div class="info_item">
              <label th:utext="#{label.form.account.tel}">Phone</label>
              <p class="value">+7 985 123 45 67</p>
            </div>
            <div class="info_item">
              <label>Email</label>
              <p class="value email">longnameuser@mailfilebox.ru</p>
            </div>
            <div class="info_item">
              <label th:utext="#{label.form.account.inn}">TIN</label>
              <p class="value hidden">12343252</p>
            </div>
            <div class="info_item">
              <label th:utext="#{label.form.account.snils}">SNILS</label>
              <p class="value hidden">123-123-12</p>
            </div>
            <div class="info_item">
              <label th:utext="#{label.form.account.passport}">Passport</label>
              <p class="value hidden">1234 325</p>
            </div>
            
            <div class="info_item info_item_code">
              <label th:utext="#{label.form.three.digits}">3 last digits</label>
              <div class="input_wrapper input_numbers">
                <div class="activation_code_wrapper">
                    <div class="code_activated" th:utext="#{label.form.digits.confirmed}">
                      <img th:src="@{/assets/certificate-3digits/img/activated.svg" class="activated_icon" alt="activated">
                      Сonfirmed
                    </div>
                  <img th:src="@{/assets/certificate-3digits/img/cert.svg" class="cert_icon" alt="certificate">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <button type="submit" class="button_submit" th:utext="#{label.form.next.step}">Next step</button>
  </form>
</div>

<script th:src="@{/assets/certificate-3digits/js/main.js}"></script>

</body>
</html>
