<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>docuForce</title>
  <link rel="shortcut icon" th:href="@{/assets/set-password/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/assets/set-password/css/main.css}">
</head>
<body>
<div class="layout">
  
  <img th:src="@{/assets/set-password/img/logo.svg}" class="logo" alt="docuForce">>
  <div class="content">
    <div class="steps_wrapper">
      <div class="step_wrapper step_completed">
        <div class="step_description" th:utext="#{label.form.step.first}">Issuance of a certificate</div>
      </div>
      <div class="step_wrapper step_completed">
        <div class="step_description" th:utext="#{label.form.step.second}">Setting a password</div>
      </div>
    </div>
    
    <div class="alert_wrapper">
      <p class="alert alert_success" th:utext="#{label.form.alert.certificate.success}">Certificate issue confirmed</p>
    </div>
    
    <p class="info">You have successfully registered in the system</p>
    
    <a class="button_submit" th:href="@{${returnUrlPath}}" th:text="#{label.form.back.to.login}">Back to Login</a>
  </div>
</div>

</body>
</html>
